footer#fh5co-footer(role="contentinfo")
  .container
    .row.copyright
      .col-md-12.text-center
        p
          small.block &copy; 2016 Free HTML5. All Rights Reserved.
          small.block
            | Designed by
            a(href="http://freehtml5.co/" target="_blank") FREEHTML5.co
            |  Demo Images:
            a(href="http://unsplash.co/" target="_blank") Unsplash
        p
          ul.fh5co-social-icons
            li
              a(href="#")
                i.icon-twitter
            li
              a(href="#")
                i.icon-facebook
            li
              a(href="#")
                i.icon-linkedin
            li
              a(href="#")
                  i.icon-dribbble
