extends layout.pug
block content
  .fh5co-loader

  #page
    nav.fh5co-nav(role="navigation")
      .container
        .row
          .col-xs-2
            #fh5co-logo
              a(href="index.html") Juramento<strong>.</strong>

    header#fh5co-header.fh5co-cover(role="banner", style="background-image:url(/static/images/banner2.webp);")
      .overlay
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            .display-t
              .display-tc.animate-box(data-animate-effect="fadeIn")
                h1 Gary David Guzmán Muñoz
                h2 Mi Juramento
                .simply-countdown.simply-countdown-one

    #fh5co-couple
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            h2 ¡Hola!
            h3 04 de Octubre del 2024, Sucre.
            figure.logo-usfx
              img(src="/static/images/logo-usfx.webp", alt="logo-usfx")
            p Te invito a mi juramento como Ingeniero en Sistemas y T.S. en Informática, espero contar con tu presencia.

    #fh5co-event.fh5co-bg(style="background-image:url(/static/images/img_bg_3.jpg);")
      .overlay
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            span Mi graduación y juramento
            h2 Eventos
        .row
          .display-t
            .display-tc
              .col-md-10.col-md-offset-1
                .col-md-6.col-sm-6.text-center
                  .event-wrap.animate-box
                    h3 Facultad Tecnología
                    .event-col
                      i.icon-clock
                      span Por Confirmar [AM/PM]
                      // span ... [AM/PM]
                    .event-col
                      i.icon-calendar
                      span Viernes 04
                      span Octubre, 2024
                    p Salón grande.
                .col-md-6.col-sm-6.text-center
                  .event-wrap.animate-box
                    h3 Cena
                    .event-col
                      i.icon-clock
                      span 8:00 PM
                      span ... AM
                    .event-col
                      i.icon-calendar
                      span Viernes 04
                      span Octubre, 2024
                    p "Restaurante ..." Ubicado...

    #fh5co-couple.fh5co-section-gray
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2.text-center.fh5co-heading
            h2 Confirmar Asistencia
            p Por favor complete su nombre completo para notificarme que asistirá, gracias.
        .row.animate-box
          .col-md-10.col-md-offset-1
            form#invitationForm.form-inline
              .col-md-4.col-sm-4
                .form-group
                  label(for="name") Nombre
                  input.form-control(type="name" id="name" placeholder="Nombre y Apellido" required)
              .col-md-4.col-sm-4
                .form-group(style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 7px;")
                  label(for="withPartner") ¿Aistirá con pareja?
                  input.form-control(type="checkbox" id="withPartner" name="withPartner" style="width: 30px; height: 30px;")
              .col-md-4.col-sm-4
                button.btn.btn-primary.btn-block(type="submit") Confirmar Asistencia
        .row.animate-box
          .col-md-12(style="text-align: center; margin-top: 40px;")
            p#response(style="color: green;")

    // #map.fh5co-map

    footer#fh5co-footer(role="contentinfo")
      .container
        .row.copyright
          .col-md-12.text-center
            p
              small.block &copy; 2024 Todos los derechos reservados.
              small.block
                | Desarrollado por Gary Guzman
                a(href="https://garydav.com" target="_blank")  garydav.com
            p
              ul.fh5co-social-icons
                li
                  a(href="https://x.com/_garyDav" target="_blank")
                    i.icon-twitter
                li
                  a(href="https://www.facebook.com/garydavid.guzmanmunoz/" target="_blank")
                    i.icon-facebook
                li
                  a(href="https://www.linkedin.com/in/garydav/" target="_blank")
                    i.icon-linkedin
