extends layout.pug
block content
  .fh5co-loader

  #page
    nav.fh5co-nav(role="navigation")
      .container
        .row
          .col-xs-2
            #fh5co-logo
              a(href="index.html") Juramento<strong>.</strong>
          .col-xs-10.text-right.menu-1
            ul
              li.active
                a(href="index.html") Home
              li
                a(href="about.html") Story
              li.has-dropdown
                a(href="services.html") Services
                ul.dropdown
                  li
                    a(href="#") Web Design
                  li
                    a(href="#") eCommerce
                  li
                    a(href="#") Branding
                  li
                    a(href="#") API
              li.has-dropdown
                a(href="gallery.html") Gallery
                ul.dropdown
                  li
                    a(href="#") HTML5
                  li
                    a(href="#") CSS3
                  li
                    a(href="#") Sass
                  li
                    a(href="#") jQuery
              li
                a(href="contact.html") Contact

    header#fh5co-header.fh5co-cover(role="banner", style="background-image:url(images/img_bg_2.jpg);", data-stellar-background-ratio="0.5")
      .overlay
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            .display-t
              .display-tc.animate-box(data-animate-effect="fadeIn")
                h1 Gary David Guzmán Muñoz
                h2 Mi Juramento
                .simply-countdown.simply-countdown-one
                p
                  a.btn.btn-default.btn-sm(href="#") Save the date

    #fh5co-couple
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            h2 ¡Hola!
            h3 Octubre 04, 2024 Sucre.
            p Te invito a mi juramento como Ingeniero en Sistemas y T.S. en Informática, espero contar con tu presencia.
        .couple-wrap.animate-box
          .couple-half
            .groom
              img(src="images/groom.jpg", alt="groom", class="img-responsive")
            .desc-groom
              h3 Joefrey Mahusay
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
          p.heart.text-center
            i.icon-heart2
          .couple-half
            .bride
              img(src="images/bride.jpg", alt="groom", class="img-responsive")
            .desc-bride
              h3 Sheila Mahusay
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove

    #fh5co-event.fh5co-bg(style="background-image:url(images/img_bg_3.jpg);")
      .overlay
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            span Our Special Events
            h2 Wedding Events
        .row
          .display-t
            .display-tc
              .col-md-10.col-md-offset-1
                .col-md-6.col-sm-6.text-center
                  .event-wrap.animate-box
                    h3 Main Ceremony
                    .event-col
                      i.icon-clock
                      span 4:00 PM
                      span 6:00 PM
                    .event-col
                      i.icon-calendar
                      span Monday 28
                      span November, 2016
                    p Far far away, behind the word mountains...
                .col-md-6.col-sm-6.text-center
                  .event-wrap.animate-box
                    h3 Wedding Party
                    .event-col
                      i.icon-clock
                      span 7:00 PM
                      span 12:00 AM
                    .event-col
                      i.icon-calendar
                      span Monday 28
                      span November, 2016
                    p Far far away, behind the word mountains...

    #fh5co-couple-story
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            span We Love Each Other
            h2 Our Story
            p Far far away, behind the word mountains...
        .row
          .col-md-12.col-md-offset-0
            ul.timeline.animate-box
              li.animate-box
                .timeline-badge(style="background-image:url(images/couple-1.jpg);")
                .timeline-panel
                  .timeline-heading
                    h3.timeline-title First We Meet
                    span.date December 25, 2015
                  .timeline-body
                    p Far far away...
              li.timeline-inverted.animate-box
                .timeline-badge(style="background-image:url(images/couple-2.jpg);")
                .timeline-panel
                  .timeline-heading
                    h3.timeline-title First Date
                    span.date December 28, 2015
                  .timeline-body
                    p Far far away...
              li.animate-box
                .timeline-badge(style="background-image:url(images/couple-3.jpg);")
                .timeline-panel
                  .timeline-heading
                    h3.timeline-title In A Relationship
                    span.date January 1, 2016
                  .timeline-body
                    p Far far away...

    #fh5co-gallery.fh5co-section-gray
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
            span Our Memories
            h2 Wedding Gallery
            p Far far away...
        .row.row-bottom-padded-md
          .col-md-12
            ul#fh5co-gallery-list
              li.one-third.animate-box(data-animate-effect="fadeIn", style="background-image:url(images/gallery-1.jpg);")
                a(href="images/gallery-1.jpg")
                  .case-studies-summary
                    span 14 Photos
                    h2 Two Glas of Juice
              li.one-third.animate-box(data-animate-effect="fadeIn", style="background-image:url(images/gallery-2.jpg);")
                a.color-2(href="#")
                  .case-studies-summary
                    span 30 Photos
                    h2 Timer starts now!
              li.one-third.animate-box(data-animate-effect="fadeIn", style="background-image:url(images/gallery-3.jpg);")
                a.color-3(href="#")
                  .case-studies-summary
                    span 90 Photos
                    h2 Beautiful sunset

  .container(style="flex: 1; padding: 50px 0;")
    h1 My Home Page
    form#invitationForm
      label(for="name") Nombre Completo
      input(type="text" name="name" id="name" required)

      br

      label(for="withPartner") Asistirá con pareja
      input(type="checkbox" name="withPartner" id="withPartner")

      br

      button(type="submit") Confirmar Asistencia

    p#response(style="color: green;")
